
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}



@section head {
	<link rel="stylesheet" href="assets/plugins/simpleline/simple-line-icons.css">
}

<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <a asp-controller="Candidates" asp-action="Index">
            <div class="dash-widget dash-widget5">
                <span class="float-left"><img src="~/assets/img/dash/dash-1.png" alt="" width="80"></span>
                <div class="dash-widget-info text-right">
                    <h3>Candidates</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <a asp-controller="Faculties" asp-action="Index">
            <div class="dash-widget dash-widget5">
                <span class="float-left"><img src="~/assets/img/dash/dash-2.png" width="80" alt=""></span>
                <div class="dash-widget-info text-right d-inline-block">
                    <h3>Faculties</h3>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <a asp-controller="Exams" asp-action="Index">
            <div class="dash-widget dash-widget5">
                <span class="float-left"><img src="~/assets/img/dash/dash-1.png" alt="" width="80"></span>
                <div class="dash-widget-info text-right">
                    <h3>Exams</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <a asp-controller="Batches" asp-action="Index">
            <div class="dash-widget dash-widget5">
                <span class="float-left"><img src="~/assets/img/dash/dash-2.png" width="80" alt=""></span>
                <div class="dash-widget-info text-right d-inline-block">
                    <h3>Batches</h3>
                </div>
            </div>
        </a>
    </div>
</div>



