
@{
    ViewData["Title"] = "Message";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Message</h1>
<h3>@TempData["message"]</h3>

<a class="btn btn-secondary" href="javascript:history.back()">Back</a>

