@model ZealEducationManager.Models.CandidatesViewModels.AddCandidateView

@{
    ViewData["Title"] = "Add New Candidate";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<div class="page-header">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <h5 class="text-uppercase mb-0 mt-0 page-title">Add Candidate</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input type="date" asp-for="DateOfBirth" value="@DateOnly.FromDateTime(DateTime.Now)" class="form-control" />
                <span asp-validation-for="DateOfBirth"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfJoining" class="control-label"></label>
                <input type="date" asp-for="DateOfJoining" value="@DateOnly.FromDateTime(DateTime.Now)" class="form-control" />
                <span asp-validation-for="DateOfJoining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo" class="control-label"></label>
                <input asp-for="ContactInfo" class="form-control" />
                <span asp-validation-for="ContactInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutstandingFee" class="control-label"></label>
                <input asp-for="OutstandingFee" class="form-control" type="number" min="0" />
                <span asp-validation-for="OutstandingFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="1" selected >Currently Enrolled</option>
                    <option value="2">Temporarily Suspended</option>
                    <option value="3">Graduated</option>
                    <option value="4">Dropped Out</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Batch</label>
                <select asp-for="BatchId" asp-items="@Model.BatchCode" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />

                <button class="btn btn-secondary" asp-action="Index">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

